.form-actions {
    padding-left: 0;
    padding-right: 0;
    p {
        padding: 0 1em 0 1em;
        color: #F55;
        font-weight: bold;
    }
}

.button-space {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-danger:disabled {
    color: #888;
    background-color: #333;
}